<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %}</title>


    {% load static %}
   <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'basestyles.css' %}">
    {% block stylesheet %}{% endblock stylesheet %}
    {% comment %} {% load static %}
    <script src="{% static 'script.js' %}"></script> {% endcomment %}


</head>
    <body>
      <header>
        <nav>
            <div class="navbarLogo">
                <div class="logo">
                    <img src="static/fcritlogo.png" alt="">
                </div>
            </div>
            <div class="collegeAddress">
                <div class="heading"><b>'Agnel Charities'</b></div>
                <div class="midheading">FR.C.RODRIGUES INSTITUTE OF TECHNOLOG</div>
                <p>Agnel Technical Education Complex Sector 9-A, Vashi, Navi-Mumbai,Maharashtra,India PIN -400703</p>
            </div>
        </nav>

        <div class="navbar">
                <ul>
                    <li class="nav-link"><a href="/homes">Home</a></li>
                    <li class="nav-link"><a href="/pd">Personal Details</a></li>
                    <li class="nav-link"><a href="/att">Attendence</a></li>
                    <li class="nav-link"><a href="/ad">Academic Details</a></li>
                    <li class="nav-link"><a href="/#">Other Activities</a></li>
                    <li class="nav-link"><a href="https://sp.fcrit.ac.in/studentportal/Feedback.php">Feedback</a></li>

                    <button class="button">
                    <a href="{% url "logout" %}" class='btn btn-primary'>logout</a>
                    </button>
                </ul>
        </div>
        
        
        {% if messages %}
        {% for message in messages %}
        <div class="alert  alert-{{ message.tags }}">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span><strong>
          {{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </header>

        {% block content %}{% endblock content %}

        {% block body %} 
        
        {% endblock body %}
        {% comment %} <script src="static/script.js"></script>  {% endcomment %}
</body>
</html>


