<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Student Mentoring Card </title>
</head>

<body>
    <div class="container">
        <header>Student Mentoring Form</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Roll No:</label>
                            <input type="text" placeholder="Enter your Roll No." required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label> Current Address</label>
                            <input type="text" placeholder="Enter your  Address" required>
                        </div>
                        <div class="input-field">
                            <label> Permanent Address</label>
                            <input type="text" placeholder="Enter your  Address" required>
                        </div>
                        <div class="input-field">
                            <label for="file">Choose a file</label>
                            <input type="file" name="file" id="file" class="inputfile" />

                        </div>
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Parent Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Father's Name</label>
                            <input type="text" placeholder="Enter Father's Name" required>
                        </div>
                        <div class="input-field">
                            <label>Email Id</label>
                            <input type="text" placeholder="Enter Father's Email Id " required>
                        </div>
                        <div class="input-field">
                            <label>Mobile No.</label>
                            <input type="text" placeholder="Enter Father's Mobile No." required>
                        </div>
                        <div class="input-field">
                            <label>Mother's Name</label>
                            <input type="text" placeholder="Enter Mother's Name" required>
                        </div>
                        <div class="input-field">
                            <label>Email Id</label>
                            <input type="text" placeholder="Enter Mother's Email Id" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile No.</label>
                            <input type="text" placeholder="Enter Mother's Mobile No." required>
                        </div>
                    </div>
                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>
            <div class="form second">
                <div class="details address">
                    <span class="title">Student Mentor</span>
                    <div class="fields">
                        <div class="fields">
                            <div class="input-field">
                                <label> Name of the Student Mentor</label>
                                <input type="text" placeholder="Enter name of the Student Mentor " required>
                            </div>
                            <div class="input-field">
                                <label>Email Id</label>
                                <input type="text" placeholder="Enter Mentor's Email Id " required>
                            </div>
                            <div class="input-field">
                                <label>Mobile No.</label>
                                <input type="text" placeholder="Enter Mentor's Mobile No." required>
                            </div>
                            <div class="input-field">
                                <label>Nmae of faculty mentor</label>
                                <input type="text" placeholder="Enter name of the  faculty mentor" required>
                            </div>
                            <div class="input-field">
                                <label>Email Id</label>
                                <input type="text" placeholder="Enter faculty Email Id" required>
                            </div>
                            <div class="input-field">
                                <label>Mobile No.</label>
                                <input type="text" placeholder="Enter Faculty Mobile No." required>
                            </div>
                        </div>
                        <div class="input-field">
                            <label> Department</label>

                            <select required>
                                <option disabled selected>Select Department </option>
                                <option>Computer</option>
                                <option>Electronics And Telecommunication</option>
                                <option>Electrical</option>
                                <option>Mechanical</option>
                            </select>
                        </div>
                        <div class="buttons">
                            <div class="backBtn">
                                <i class="uil uil-navigator"></i>
                                <span class="btnText">Back</span>
                            </div>

                            <button class="sumbit">
                                <span class="btnText">Submit</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>