<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    

   
    <!-- ==================================login form====================================================
     -->
    <div class="wrapper">
          <div class="title-text">
          <div class="title login">Student Login </div>
          <div class="title signup">Student Signup </div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
          </div>

          {% if messages %}
          {% for message in messages %}
          <div class="alert  alert-{{ message.tags }}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span><strong>
            {{ message }}</strong>
          </div>
          {% endfor %}
          {% endif %}

          <div class="form-inner">
            <form action={% url "loginpage" %} method='post' class="login">
                {% csrf_token %}
              <div class="field">
                <input type="text" name='unamel' placeholder="Enter Username" required>
              </div>
              <div class="field">
                <input type="password" name='pwl' placeholder="Enter Password" required>
              </div>
              <div class="pass-link"><a href="#">Forgot password?</a></div>

              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login">
              </div>
              <div class="signup-link">Not a member? <a href="">Signup now</a></div>
            </form>

            <form action={% url "signuppage" %} method="post"  class="signup">
                {% csrf_token %}
              <div class="field">
                <input type="text" name='uname' placeholder="Username" required>
              </div>
              <div class="field">
                <input type="text" name='email' placeholder="Email Address" required>
              </div>
              <div class="field">
                <input type="password" name='pw' placeholder="Password" required>
              </div>
              <div class="field">
                <input type="password" name='Cpw' placeholder="Confirm password" required>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Signup">
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="static/scriptlogin.js"></script>  
</body>
</html>