{% comment %} {% extends 'baseM.html' %} {% endcomment %}


{% comment %} {% block title %}Report {% endblock title %} {% endcomment %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'printrstyle.css' %}">

{% endblock stylesheet %}


{% block body %}
<div class="div" id="mn">
    <div class="container">
        <div class="top"><div class="logos">
        <img src="static/fcritlogo.png" alt="">
        </div>
        <div class="collegeAddress">
            <div class="heading">'Agnel Charities'</div>
            <div class="midheading"><b>FR.C.RODRIGUES INSTITUTE OF TECHNOLOG</b></div>
            <p><b>Agnel Technical Education Complex Sector 9-A, Vashi, Navi-Mumbai,Maharashtra,India PIN -400703</b>
            </p>
        </div>
        </div>
        <br>
    {% comment %} </div>  {% endcomment %}
        {% comment %} <form action="/printr" method="post">
            {% csrf_token %} {% endcomment %}
        <div class="head">
            <div class="input-fields">
                <label>Department of </label>
                <label>{{category}} </label>
                {% comment %} <select name="category" required>
                    <option disabled selected>Select Branch</option>
                    <option> Computer Engineering</option>
                    <option>Electronics And Telecommunication Engineering</option>
                    <option>Electrical Engineering</option>
                    <option>Mechanical Engineering</option>
                </select> {% endcomment %}
            </div>

            <div class="input-fields">
                <label>Mentoring Report for SH-</label>
                <label>{{sh}} </label>
                {% comment %} <input type="year" placeholder="Enter the date" name="sh" required> {% endcomment %}
            </div>

            <div class="input-fields">
                <label> Mentor Batch -</label>
                <label>{{batch}} </label>
                {% comment %} <textarea id="" cols="15" rows="2" name="batch" required></textarea> {% endcomment %}
            </div>
        </div>
        <div class="mid">
            <div class="gap1">
                <div class="input-field">
                    <label> <strong> Semester: </strong></label>
                    <label>{{sem}} </label>
                </div>
                    {% comment %} <select name="sem" required>
                        <option disabled selected>Select semester</option>
                        <option>Semester 1</option>
                        <option>Semester 2</option>
                        <option>Semester 3</option>
                        <option>Semester 4</option>
                        <option>Semester 5</option>
                        <option>Semester 6</option>
                        <option>Semester 7</option>
                        <option>Semester 8</option>
                    </select> {% endcomment %}
                    <div class="input-field">
                    <label><strong> Date:</strong> </label>
                    <label>{{date}} </label>
                </div>
                    {% comment %} <input type="date" placeholder="Enter the date" name="date" required> {% endcomment %}

                </div>
                <div class="gap1">
                    <div class="input-field">
                        <label><strong>  No. of Students in batch: </strong></label>
                        <label>{{stdcount}} </label>
                    </div>
                        {% comment %} <textarea class="styled-textarea" id="" cols="5" rows="2" name="stdcount" required></textarea> {% endcomment %}
                        <div class="input-field">
                    
                        <label><strong>  Roll Number: </strong></label>
                        <label>{{stdrn}} </label>
                        {% comment %} <textarea class="styled-textarea" id="" cols="20" rows="2" name="stdrn" required></textarea> {% endcomment %}
                
                       </div>
                </div>

            </div>

            <div class="table-container">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Mentoring Summary</th>
                            <th>Mentoring Duration 1:
                                {{dur1}}
                                {% comment %} <input type="date" placeholder=" Enter the date" name="dur1" required> {% endcomment %}
                            </th>
                            <th>Mentoring Duration 2: 
                                {{dur2}}
                                {% comment %} <input type="date" placeholder="Enter the date" name="dur2" required> {% endcomment %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Number of students identified as attendence defaulters</td>
                            <td>
                              {{Atdef1}}  {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="Atdef1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                              {{Atdef2}}  {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="Atdef2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Number of students identified as academic performance defaulters</td>
                            <td>
                               {{apdef1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="apdef1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{apdef2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="apdef2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Number of students participating in co-curricular activities</td>
                            <td>
                                {{ca1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="ca1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{ca2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="ca2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Number of students participating in extra-curricular activities</td>
                            <td>
                                {{ea1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="ea1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{ea2}} 
                                {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="ea2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Number of students placed (for BE only)</td>
                            <td>
                                {{bep1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="bep1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{bep2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="bep2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Number of students appearing for competitive exams/opting for higher studies (For TE
                                and BE only)</td>
                            <td>
                                {{hghs1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="hghs1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{hghs2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="hghs2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Number of special cases refereed to Head of the Department</td>
                            <td>
                                {{schod1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="schod1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{schod2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="schod2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Number of special cases refereed to Principal</td>
                            <td> 
                                {{scp1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="scp1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{scp2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="scp2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Other points discussed,if any:</td>
                            <td> 
                               {{other1}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="other1" required></textarea> {% endcomment %}
                            </td>
                            <td>
                                {{other2}} {% comment %} <textarea class="styled-textarea" id="" cols="17" rows="2" name="other2" required></textarea> {% endcomment %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content">
                Impact of Mentoring: <td>
                    {{impact}}
                    {% comment %} <textarea id="" cols="90" rows="3" name="impact" required></textarea> {% endcomment %}
                 </td>

            </div>
            
            <div class="gap">
                <div class="upload-container">
                    <h4>Signature,Name and Designation of mentor</h4>
                </div>
                <div class="upload-container">
                    <h4>Signature of HOD</h4>
                </div>
                </div>

            {% comment %} {% if img1_url %}
                <img src="{{ MEDIA_URL }}{{ img1_url }}" alt="Image 1">
            {% endif %}

            {% if img2_url %}
                <img src="{{ MEDIA_URL }}{{ img2_url }}" alt="Image 2">
            {% endif %} {% endcomment %}


            {% comment %} <div class="upload-container">

                <input type="file" id="fileInput" name="img1" accept="image/*"> 
                <label for="fileInput" class="upload-btn">Choose Image</label>
                <h4>Signature,Name and Designation of mentor</h4>
                <img src="{{ img1.url }}" alt="Image 1">
                <div id="preview1"></div>
            </div> 
            <div class="upload-container">

                <input type="file" id="fileInput" name="img2" accept="image/*">
                <label for="fileInput" class="upload-btn">Choose Image</label>
                <h4>Signature of HOD</h4>
                <img src="{{ img2.url }}" alt="Image 2">
                <div id="preview2"></div>
            </div> {% endcomment %}



            {% comment %} <button onclick="exportToPDF()">Export to PDF</button> {% endcomment %}


        </div>
        </div>
    {% comment %} </form> {% endcomment %}

    

</div>

<button onclick="genpdf('mn')" class="sumbit">
    <span class="btnText">Generate pdf</span>
    <i class="uil uil-navigator"></i>
</button>

<script type ="text/javascript">
    {% comment %} function genpdf(pa) {
        var pdf = new jsPDF();
        var printContent = document.getElementById(pa).cloneNode(true);
        var tempContainer = document.createElement('div');
        tempContainer.appendChild(printContent);
        var originalBodyContent = document.body.innerHTML;
        document.body.innerHTML = tempContainer.innerHTML;
    
        // Add content to PDF
        pdf.text(10, 10, 'PDF Title');
        pdf.addHTML(tempContainer, {
            pagesplit: true,
            margin: { top: 20, right: 20, bottom: 20, left: -20},
            callback: function () {
                pdf.save('document.pdf');
                document.body.innerHTML = originalBodyContent; // Restore original body content
            }
        });
    } {% endcomment %}
    
    
    function genpdf(pa){
        var b = document.body.innerHTML;
        var d = document.getElementById(pa).innerHTML;
        document.body.innerHTML = d;
        window.print();
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>



    {% load static %}
        <script src="{% static 'reportscript.js' %}"></script>

{% endblock body %}