{% extends 'baseM.html' %}

{% block title %}Student Data {% endblock title %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'studentDatastyle.css' %}">
{% endblock stylesheet %}


{% block content %}
<div class='container1'>
    <h2>Welcome {{ user_profile.Fname }}</h2>
    <br><h3><strong> Details:</strong></h3>
    {% if user_profile %}
        <p><strong> Roll no: {{ user_profile.RN }}</p></strong> 
        <p><strong> Email: {{ user_profile.Email }}</p></strong> 
        <p><strong> Date of birth: {{ user_profile.DOB }}</p></strong> 
        <p><strong> Mobile number: {{ user_profile.MN }}</p></strong> 
        <p><strong> Gender: {{ user_profile.Gen }}</p></strong> 
        <p><strong> Current address: {{ user_profile.Caddr }}</p></strong> 
        <!-- Add other fields as needed -->
    {% else %}
        <p>No profile details available.</p>
    {% endif %}
</div>
 
 <br>

 <div class='container' id="att">
    <h2>Attendance:</h2>
    
    {% with grouped_attendance.items as semester_attendances %}
        {% if semester_attendances %}
            <table>
                <thead>
                    <tr>
                        <th>Semester</th>
                        <th>Month</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for semester, attendances in semester_attendances %}
                        {% for attendance in attendances %}
                            <tr>
                                {% if forloop.first %}
                                    <td rowspan="{{ attendances|length }}">{{ semester }}</td>
                                {% endif %}
                                <td>{{ attendance.month }}</td>
                                <td>{{ attendance.percentage }}%</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No attendance details available.</p>
        {% endif %}
    {% endwith %}
    {% comment %} <button class="add-detail-btn" onclick="location.href='{% url 'att' %}'">Add Detail</button> {% endcomment %}
</div>

  <br>
  <div class='container' id="ad">
    <h2>Academic Details:</h2>
    {% if user_ad %}
        <table>
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>AT 1</th>
                    <th>AT 2</th>
                    <th>IA 1</th>
                    <th>IA 2</th>
                    <th>Prelim</th>
                    <th>End Semester</th>
                    <th>Performance</th>
                </tr>
            </thead>
            <tbody>
                {% for academic_detail in user_ad %}
                    <tr>
                        <td>{{ academic_detail.adSem }}</td>
                        <td>{{ academic_detail.at1 }} marks</td>
                        <td>{{ academic_detail.at2 }} marks</td>
                        <td>{{ academic_detail.ia1 }} marks</td>
                        <td>{{ academic_detail.ia2 }} marks</td>
                        <td>{{ academic_detail.prelim }} marks</td>
                        <td>{{ academic_detail.endsem }} marks</td>
                        <td>{{ academic_detail.perf }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No academic details available.</p>
    {% endif %}
    {% comment %} <button class="add-detail-btn" onclick="location.href='{% url 'ad' %}'">Add Detail</button> {% endcomment %}

</div>


<br>
<div class="container" id="oa">
    <h2>Co-Curricular Activities:</h2>
    {% if user_cocurricular %}
        <table>
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>Professional Society</th>
                    <th>Internship</th>
                    <th>Paper Published</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in user_cocurricular %}
                    <tr>
                        <td>{{ activity.sem }}</td>
                        <td>{{ activity.professional_society }}</td>
                        <td>{{ activity.internship }}</td>
                        <td>{{ activity.paper_published }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No co-curricular activities available.</p>
    {% endif %}
    {% comment %} <button class="add-detail-btn" onclick="location.href='{% url 'cocu' %}'">Add Detail</button> {% endcomment %}

</div>
<br>
<div class="container" >
    <h2>Extra Curricular Activities:</h2>
    {% if user_exco %}
        <table>
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>Sports</th>
                    <th>NSS / Social Cell</th>
                    <th>Competition / Participation / Prize / Awards</th>
                </tr>
            </thead>
            <tbody>
                {% for exco in user_exco %}
                    <tr>
                        <td>{{ exco.exsem }}</td>
                        <td>{{ exco.sports }}</td>
                        <td>{{ exco.nss }}</td>
                        <td>{{ exco.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No extra-curricular activities available.</p>
    {% endif %}
    {% comment %} <button class="add-detail-btn" onclick="location.href='{% url 'exco' %}'">Add Detail</button> {% endcomment %}

</div>

<br>
<div class="container">
    <h2>Placement Details:</h2>
    {% if placement_details %}
        <table>
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Package (LPA)</th>
                    <th>Semester</th>
                </tr>
            </thead>
            <tbody>
                {% for placement_detail in placement_details %}
                    <tr>
                        <td>{{ placement_detail.compname }}</td>
                        <td>{{ placement_detail.package }} LPA</td>
                        <td>{{ placement_detail.semester }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No placement details available.</p>
    {% endif %}
    {% comment %} <button class="add-detail-btn" onclick="location.href='{% url 'plc' %}'">Add Detail</button> {% endcomment %}

</div>


<br>
<div class="container">
    <h2>Higher Studies Data:</h2>
    {% if higher_stds %}
        <table>
            <thead>
                <tr>
                    <th>GRE</th>
                    <th>TOEFL</th>
                    <th>CAT</th>
                    <th>Others</th>
                    <!-- Add other headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for higher_std in higher_stds %}
                    <tr>
                        <td>{{ higher_std.gre }}</td>
                        <td>{{ higher_std.tofel }}</td>
                        <td>{{ higher_std.cat }}</td>
                        <td>{{ higher_std.others }}</td>
                        <!-- Add other fields as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No higher studies data available.</p>
    {% endif %}
    {% comment %} <button class="add-detail-btn" onclick="location.href='{% url 'hs' %}'">Add Detail</button> {% endcomment %}

</div>




{% endblock content %}
{% comment %} {% block content %}
<h2>Welcome {{ user }} </h2>

{% if fetchdata %}
    <p>Data is present</p>
    {% for data in fetchdata %}
        <h1> Welcome {{ data.Fname }} </h1><br>
        {% comment %} {{ data.RN }}<br> 
        <!-- Add other fields as needed -->
        <hr>
    {% endfor %}
{% else %}
    <p>No data available</p>
{% endif %}

{% endblock content %} {% endcomment %}

{% block body %}

{% load static %}
    <script src="{% static 'navscript.js' %}"></script>
{% endblock body %}